.table-agent-orders {
  thead {
    tr {
      th {
        font-size: 14px;
      }

    }
  }

  tbody {
    tr {
      &[disabled] {
        opacity: .5;
        pointer-events: none;
      }
    }
  }
}

.table-agent-cards {
  .btn-register-warranty-event {
    white-space: nowrap;
  }
}

.agent-cards-list {
  &__head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid $primary-lighter-gray;
    margin-bottom: 5px;

    &--index {
      flex-basis: 50px;
    }

    &--number {
      width: 100%;
    }

    &--action {
      flex-basis: 50px;
    }
  }

  &__body {
    margin-bottom: 2rem;

    &-row {
      border: 2px solid transparentize($primary-blue, .9);
      border-radius: 5px;
      margin-bottom: 5px;

      &-visible {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid transparent;

        &--index {
          flex-basis: 50px;
        }

        &--number {
          width: 100%;
        }

        &--action {
          flex-basis: 50px;
          text-align: right;

          button {
            border: none;
            background: transparent;
            border-radius: 5px;
            padding: 0 10px;

            &:hover {
              background-color: transparentize($primary-blue, .9);
            }

            i {
              transition: .3s;
              pointer-events: none;
              rotate: -90deg;
              color: $primary-gray;
            }
          }
        }

        &:hover {
          background-color: $primary-lighter-gray;
        }
      }

      &-toggle {
        height: 0;
        overflow: hidden;
        transition: .3s;

        .load {
          display: block;
          text-align: center;
          opacity: 0;
          font-size: 5rem;
          color: $primary-blue;
        }

        &-in {
          padding: 10px 50px 15px 50px;
        }

        .agent-card-fields {
          list-style: none;
          font-size: 14px;
          padding-left: 0;

          li {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 5px 0;

            span {
              &:first-child {

              }

              &:nth-child(2) {
                flex: 1 0;
                border-bottom: 1px dotted $primary-gray;
                height: 1.3em;
                margin: 0 1em;
              }

              &:last-child {

              }
            }
          }
        }
      }

      &.toggled {
        background-color: $primary-lighter-gray;
        border-color: $primary;

        .agent-cards-list__body-row-visible {
          border-bottom: 1px solid transparentize($primary-blue, .9);

          &--number {
            font-weight: bold;
          }
        }

        .agent-cards-list__body-row-visible--action {
          i {
            rotate: 0deg;
          }
        }
      }

      &.loading {
        .agent-cards-list__body-row-toggle {
          .load {
            opacity: 1;
          }
        }
      }
    }

  }
}

.agent-order-cards {
  > span {
    padding: 2px 3px;
    font-size: 10px;
    background-color: $primary;
    color: $white;
    margin-right: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    span {
      background-color: $primary-gray;
      border-radius: 2px;
      padding: 0 3px;
      color: $white;
    }
    &:hover {
      opacity: .8;
    }
  }
}

.agent-card-nav {
  display: flex;
  align-items: center;

  a {
    margin-right: 5px;
    display: inline-block;
  }

  .btn-show-qr-code,
  .btn-send-sms {
    width: 31px;
    height: 31px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      filter: invert(1);
    }
  }

  .text-success,
  .text-danger {
    font-size: 12px;
  }
}

.nav-agent-main {
  li {
    a {
      padding: 0 !important;

      &.active {
        border-bottom: 2px solid $primary-blue;
      }
    }
  }
}

.modal-agent-qr-code {
  .panel-body {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}