.pulse {
  box-shadow: 0 0 0 transparentize($primary, .3);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 transparentize($primary, .3);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px transparentize($primary, 1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 transparentize($primary, 1);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 transparentize($primary, .3);
    box-shadow: 0 0 0 0 transparentize($primary, .3);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px transparentize($primary, 1);
    box-shadow: 0 0 0 10px transparentize($primary, 1);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 transparentize($primary, 1);
    box-shadow: 0 0 0 0 transparentize($primary, 1);
  }
}