<template>
    <div>
        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
        <input type="hidden" name="photo" value="" v-model="uploadedPhotoNames">
        <input type="hidden" name="order_id" value="orderId">
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        props: {
            textPlaceholder: String,
            textDelete: String,
            orderId: String,
        },
        components: {
            vueDropzone: vue2Dropzone
        },
        data: function () {
            let this_this = this;
            return {
                dropzoneOptions: {
                    url: '/admin/dropzone/store',
                    headers: {
                        "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                    },
                    maxFilesize: 3, // MB
                    maxFiles: 10,
                    acceptedFiles: ".jpg, .jpeg, .png, .gif",
                    addRemoveLinks: true,
                    dictRemoveFile: this.textDelete,
                    dictDefaultMessage: this.textPlaceholder,
                    init: function() {

                        this.on('sending', function(file, xhr, formData){
                            formData.append('order_id', this_this.orderId);
//                            formData.append('photo', this_this.orderId);
                        });
                        this.on('removedfile', function(file) {
                            console.log(file);
                        });
                        this.on('addedfile', function(file) {
                        });
                    },
                    success: function(file, response) {
                        this_this.namesPurchase(response.name);
                    },

                },
                uploadedPhotoNames: [],
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            uploadedPhotos: function () {
                console.log('111');
            },
            namesPurchase: function (name) {
                this.uploadedPhotoNames.push(name);
            },

        }
    }
</script>