//General
body {
    &.users {
        .table-responsive {
            img {
                width: 38px !important;
            }
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.title-form-h4 {
    margin-bottom: 2rem;
    color: $black;
}

.exist-photos-list {
    &__item {
        position: relative;
        transition: opacity .3s;

        i {
            vertical-align: middle;
        }

        &:hover {
            .exist-photos-list__item--view {
                opacity: 1;
            }
        }

        &--delete {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: transparentize($red, .2);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 15px;
            color: $white;

            &:hover {
                color: $white;
                background-color: $red;
            }
        }

        &--view {
            white-space: nowrap;
            background-color: transparentize($white, .2);
            padding: 5px 10px;
            border-radius: 5px;
            opacity: 0;
            transition: opacity .3s;
            position: absolute;
            font-size: 16px;
            vertical-align: middle;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:hover {
                background-color: $white;
            }
        }

        &--alert {
            opacity: 0;
            background-color: $red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity .3s;
            color: $white;
            text-align: center;
            padding: 5px 10px;
            border-radius: 5px;
        }

        &.deleted {
            img {
                opacity: .3;
            }

            .exist-photos-list__item--alert {
                opacity: 1;
            }

            .exist-photos-list__item--view,
            .exist-photos-list__item--delete {
                opacity: 0;
            }
        }
    }
}

.btn-calendar-close {
    &.collapsed {
        display: none;

        & + .btn-calendar-open {
            display: block;
        }
    }

    & + .btn-calendar-open {
        display: none;
    }
}

.validation-input-msg {
    display: none;

    &.success {
        display: block;
        color: $success;
        font-size: 12px;
    }

    &.error {
        display: block;
        color: $red;
        font-size: 12px;
    }
}

.big-alert-success {
    font-size: 18px;
    text-align: center;
    color: $success;
}

#verifyToggleSection {
    transition: .3s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    background-color: transparentize($success, .8);
    border-radius: .3rem;

    &.active {
        opacity: 1;
        height: auto;
        overflow: inherit;
        margin-bottom: 1rem;
        padding: 15px;
    }
}

#dataTable {
    font-size: 12px;
}

.btn-add-new-card {
    white-space: nowrap;
    display:inline;
}

.table-orders {
    tbody {
        tr {
            transition: background-color .3s;
            > td:nth-child(2) {
                > div:first-child {
                    font-weight: bold;
                    margin-bottom: 4px;
                    line-height: normal;
                }
                .order__services-title {
                    font-size: 10px;
                    color: darkgray;
                    font-weight: 500;
                }
            }
            &:hover {
                .order__items-wr {
                    background: transparent;
                }
            }
        }
        .bread-actions {
            > a {
                &.delete,
                &.edit {
                    span {
                        display: none;
                    }
                }
                &.view {
                    display: none;
                }
            }
        }
    }
}

.order__items {
    padding-left: 10px;
    > li {
        margin-bottom: 3px;
        line-height: 1.2;
    }
    .card {
        display: block;
        padding: 8px 30px 8px 8px;
        background: #fafafa;
        border: 2px solid green;
        border-radius: 10px;
        > strong {
            color: green;
            line-height: normal;
        }
        &.toggled {
            > ul {
                height: auto;
                margin-top: 5px;
                border-top: 1px solid $primary-gray;
                padding-top: 5px;
            }
            > .button-toggle {
                transform: rotate(180deg);
            }
        }
        .btn-register-warranty-event {
            background-color: $primary-gray;
            color: $white;
            padding: 4px 8px;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            &:hover {
                background-color: darken($primary-gray, 10%);
            }
        }
        .btn-show-qr-code,
        .btn-send-sms {
            display: inline-block;
            max-width: 16px;
            border-radius: 2px;
            &:hover {
                background-color: $primary-light-gray;
            }
        }
        .btn-send-sms {
            position: relative;

            &:after {
                content: attr(data-sent_sms);
                background: green;
                color: #fff;
                display: block;
                position: absolute;
                width: 11px;
                height: 11px;
                text-align: center;
                font-size: 8px;
                border-radius: 50%;
                left: 3px;
                top: -7px;
            }
            &[data-sent_sms="0"] {
                &:after {
                    display: none;
                }
            }
        }
        ul {
            height: 0;
            overflow: hidden;
            padding-left: 0;
            list-style: none;
            li {
                margin-bottom: 3px;
                strong {
                    font-size: 10px;
                    font-weight: 700;
                    color: green;
                }
                span {
                    font-size: 11px;
                }
            }
        }
        > .button-toggle {
            border: none;
            background: transparent;
            font-size: 1.2rem;
            border-radius: 3px;
            transition: transform .3s;
            position: absolute;
            right: 3px;
            top: 3px;
        }
    }

    strong {
        span {
            font-weight: bold;
            white-space: nowrap;
            color: $primary-gray;
        }
    }
}

// Order status
.order_edit_status {
    display: none;

    + span + label {
        margin-bottom: 0;
        margin-left: 5px;
        vertical-align: middle;

        .voyager-pen {
            display: block;
        }

        .voyager-x {
            display: none;
        }

        + select {
            display: none;
            border-radius: 10px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 500;
            position: absolute;
            margin-top: 45px;
        }
    }

    &:checked {
        + span + label {
            .voyager-pen {
                display: none;
            }

            .voyager-x {
                display: block;
            }

            + select {
                display: block;
            }
        }
    }
}

.order_status {
    display: flex;
    align-items: center;
}

.order_status_label {
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;

    &[data-status-label="Готово"] {
        background-color: $primary;
        color: $white;
    }

    &[data-status-label="В процессе"] {
        background-color: $warning;
        color: $dark;
    }

    &[data-status-label="Готово (не доволен)"] {
        background: linear-gradient(91deg, $primary, $danger);
        color: $white;
    }

    &[data-status-label="Выдан"] {
        background-color: $success;
        color: $white;
    }

    &[data-status-label="Выдан (не доволен)"] {
        background: linear-gradient(91deg, $success, $danger);
        color: $white;
    }
}

.header-number {
    font-weight: 700;
}

#showWarrantyQRCode {
    .modal-title {
        img {
            max-width: 24px;
            display: inline;
            filter: invert(1);
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

//Loader button
.spiner {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    &:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px dashed #fff;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: spin 2s linear infinite;
        z-index: 5
    }
    &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: spin 1s ease infinite;
        z-index: 10
    }
}

button, a {
    position: relative;
    &.disabled {
        pointer-events: none;
    }
    &.loading {
        position: relative;

        .spiner {
            visibility: visible;
            opacity: 1
        }
    }

    .spiner {
        opacity: 0;
        visibility: hidden
    }
}

// Loader primary
.loader-primary {
    &.loading {
        //position: relative;

        .spiner-primary {
            visibility: visible;
            opacity: 1
        }
    }

    .spiner-primary {
        opacity: 0;
        visibility: hidden
    }
}
.spiner-primary {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;

    &:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px dashed $primary-blue;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: spin 2s linear infinite;
        z-index: 5
    }

    &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px solid $primary-blue;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: spin 1s ease infinite;
        z-index: 10
    }
}

#orderItems {
    transition: 1s;
    &.active {
        box-shadow: 0 2px 10px green;
    }
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 23px;
    margin: 8px 0;
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider {
            background-color: #2196F3;
            &:before {
                transform: translateX(20px);
            }
        }
        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
    + span {
        display: block;
        font-size: 14px;
        &.success {
            color: $success
        }
        &.danger {
            color: $danger
        }
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: $white;
    border: 1px solid $primary-light-gray;
    z-index: 1000;
    padding: 2px;
    border-radius: 0;
    > a {
        display: block;
        padding: 3px 10px;
        font-size: 12px;
        font-weight: 400;
        &:not(:last-child) {
            border-bottom: 1px solid $white;
        }
        &:hover {
            opacity: .9;
        }
        &[data-value="in_process"] {
            background-color: $warning;
            color: $black;
        }
        &[data-value="completed"] {
            background-color: $primary;
            color: $white;
        }
        &[data-value="completed_not_happy"] {
            background: linear-gradient(91deg, $primary, $danger);
            color: $white;
        }
        &[data-value="released"] {
            background-color: $success;
            color: $white;
        }
        &[data-value="released_not_happy"] {
            background: linear-gradient(91deg, $success, $danger);
            color: $white;
        }
    }
}

.dropdown-menu.show {
    display: block;
}