.report {
  .calendar {
    padding-top: 10px;
    form {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: space-between;
      //border-bottom: 1px solid $primary-lighter-gray;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
      > div {
        border-radius: 10px;
        padding: 10px;
        position: relative;
        border: 1px solid $primary-lighter-gray;
        background: linear-gradient(to bottom, #fafafa, rgba(0,0,0,0));
        @include media-breakpoint-up(md) {
          border-radius: 0;
        }
        &:first-child {
          @include media-breakpoint-up(md) {
            border-radius: 10px 0 0 0;
          }
        }
        &:last-child {
          @include media-breakpoint-up(md) {
            border-radius: 0 10px 0 0;
          }
        }
      }
    }
    margin-bottom: 5px;
    input#date {
      width: 260px;
      padding: 2px 8px;
      border-radius: 15px;
      border: 2px solid $primary-gray;
      font-weight: 500;
      text-align: center;
      opacity: .5;
      font-size: 12px;
      &.selected {
        opacity: 1;
      }
      &::placeholder {
        color: $primary-gray;
      }
      &:hover {
        opacity: 1;
        &::placeholder {

        }
      }
    }
    &__statuses {
      width: 100%;
      > div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 12px;
      }
    }
    &__actions {
      button[type="submit"] {
        font-size: 12px;
        padding: 2px 10px;
        border-radius: 15px;
        border: 2px solid $primary-gray!important;
        font-weight: 500;
        text-align: center;
        background-color: $primary-gray;
        color: $white;
        &[disabled] {
          opacity: .5;
        }
        &:not([disabled]):hover {
          background-color: $primary;
        }
      }
    }
  }
  label {
    display: flex;
    margin-bottom: 0;
    cursor: pointer;
    span {
      padding: 2px 8px;
      border-radius: 15px;
      border: 2px solid $primary-gray!important;
      color: $primary-gray;
      font-weight: 500;
      text-align: center;
      opacity: .5;
      height: fit-content;
      //font-size: 12px;
      &:hover {
        opacity: 1;
      }
    }
    span {

    }
    &[for="in_process"] {
      span {

      }
      input:checked + span {
        background-color: $warning;
        color: $dark;
        border-color: $warning!important;
      }
      input:checked + span {

      }
    }
    &[for="completed"] {
      span {

      }
      input:checked + span {
        background-color: $primary;
        color: $white;
        border-color: $primary!important;
      }
    }
    &[for="completed_not_happy"] {
      span {

      }
      input:checked + span {
        background: linear-gradient(91deg, $primary, $danger);
        color: $white;
        border-color: $primary!important;
      }

    }
    &[for="released"] {
      span {

      }
      input:checked + span {
        background-color: $success;
        color: $white;
        border-color: $success!important;
      }

    }
    &[for="released_not_happy"] {
      span {

      }
      input:checked + span {
        background: linear-gradient(91deg, $success, $danger);
        color: $white;
        border-color: $success!important;
      }

    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      &:checked {
        + span {
          opacity: 1;
        }
      }
    }
  }
  button {
    background: none;
    text-decoration: inherit;
    font-family: system-ui;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}



.report-results {
  border: 1px solid $primary-lighter-gray;
  border-radius: 0 0 15px 15px;
  thead {
    th {
      font-size: 12px;
      color: $primary-gray;
      span {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        &.completed {
          text-decoration-color: $primary;
        }
        &.released {
          text-decoration-color: $success;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        a[href*="/edit"] {
          i {
            opacity: 1;
          }
        }
      }

    }
    td {
      font-size: 12px;
      color: $primary-gray;
      position: relative;
      b {
        white-space: nowrap;
      }
      > span {
        position: relative;
        &.overdue, &.early {
          display: inline-block;
          padding: 0 3px;
          font-weight: bold;
          font-size: 10px;
        }
        &.overdue {
          background-color: $danger;
          color: $white;
        }
        &.early {
          background-color: $success;
          color: $white;
        }
      }
      time {
        position: relative;
        b {
          &:last-child {
            font-size: 11px;
            white-space: nowrap;
            font-weight: 300;
          }
        }
      }
      a[href*="/edit"] {
        text-decoration: none!important;
        i {
          padding: 0 5px;
          transition: .3s;
          transform: translateY(2px);
          display: inline-block;
          font-size: 14px;
          opacity: 0;
        }
      }
      &.in_process {
        background-color: $warning;
      }
      &.completed {
        background-color: $primary;
      }

      &.completed_not_happy {
        background: linear-gradient(91deg, $primary, $danger);
      }
      &.released {
        background-color: $success;
      }
      &.released_not_happy {
        background: linear-gradient(91deg, $success, $danger);
      }
      &.in_process,
      &.completed,
      &.completed_not_happy,
      &.released,
      &.released_not_happy {
        &:before {
          content: '';
          position: absolute;
          left: 2px;
          top: 2px;
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          background-color: $white;
        }
      }
    }
  }
  tfoot {
    text-align: right;
    font-size: 24px;
    td {
      padding-top: 1rem!important;
      color: $primary-gray;
      #ordersSearchTotal {
        span {
          font-weight: bold;
        }
      }
    }
  }
  &__name {
    font-weight: bold;
    font-size: 14px;
  }
}
.report-alert {
  font-size: 12px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
}

.bordered {
  border: 1px solid $primary;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}